# Byte-compiled
__pycache__/

# Distribution / packaging
.Python
env/
/build/
develop-eggs/
/dist/
downloads/
/eggs/
/.eggs/
lib/
lib64/
/MANIFEST
parts/
sdist/
var/
wheels/
/*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
/.tox/
/.coverage*
.cache
coverage.xml
*.cover

# mypy
/.mypy_cache/
